.rowx {
     left: 0;
    right: 0;
    overflow: hidden;
    position: absolute;
}
.scroll-y {
    overflow-y: auto; 
}

.header.rowx {
    height: 75px;
    top: 0;
}

.body.rowx {
    top: 75px;
    bottom: 50px; 
}

.footer.rowx {
    height: 50px;
    bottom: 0; 
}

.cartica{
    height: 300px;
    width: 100%;
    border: 2px solid black;
  }
  