<div class="contenedor">
    <div class="row align-items-center justify-content-center">
    <p>
        <mat-toolbar class="toolbar" color="primary">
            <button mat-icon-button class="example-icon" (click)="productos()">
                <mat-icon>home</mat-icon>
            </button>
            <span class="titulo-toolbar">Herbavi Admin</span>
            <span class="spacer"></span>
            <button mat-icon-button class="example-icon" (click)="regresar()">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-toolbar>
      </p>
</div>
<router-outlet></router-outlet>

