<div class="container-fluid contenedor-productos">
    <div class="row align-self-center justify-content-start descripcion">
        <div class="col-2 align-self-center">
            Categorías 
            <mat-icon>list</mat-icon>
        </div>
        <div class="col-2 align-self-center">
            Resultados encontrados: 12
        </div>
        <div class="col-2 offset-2 align-self-center" style="color: #BEEDAA;">
            Producto Disponible
        </div>
        <div class="col-2 align-self-center" style="color: #E94F37;">
            Producto Agotado
        </div>
        <div class="col-2 align-self-center" style="color: #67AAF9;">
            Producto en carrito
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row align-items-center justify-content-center  productos">
        <div class="col align-self-center">
            <div class="container">
                <div class="row">
                    <div class="col-2" *ngFor="let producto of [1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7,8,9,1,2,3,4,5,6,7]">
                        <div class="card">
                            <div class="producto-disponible">
                                Featured {{producto}}
                            </div>
                            <div class="img-container"> 
                                <img src="assets/tomatos.png" alt="image">
                            </div>
                            <mat-divider></mat-divider>
                            <div class="card-body">
                                <div class="row align-self-center justify-content-center">
                                    <div class="col">  
                                        <h5 class="card-title">₡ 2500</h5>
                                    </div>
                                    <div class="col">
                                        <mat-icon>info</mat-icon>
                                    </div>
                                </div>
                              
                              <div class="contenedor-boton">
                                <button type="submit" class="btn btn-primary">Agregar</button>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
