<div class="container-fluid contenedor-productos"
[ngClass]="{'web-landscape': responsive_flags.web_landscape,
'tablet-portrait': responsive_flags.tablet_portrait,
'tablet-landscape': responsive_flags.tablet_landscape,
'smartphone-portrait': responsive_flags.smartphone_portrait,
'smartphone-landscape': responsive_flags.smartphone_landscape}">
    <div class="row align-self-center justify-content-start descripcion">
        <div class="col-2 align-self-center"
        [ngClass]="{'col-6': carta_smartphone}">
            <span>Categorías</span>
            <button mat-icon-button [matMenuTriggerFor]="categorias">
                <mat-icon>list</mat-icon>
              </button>
            <mat-menu #categorias="matMenu">
                <button mat-menu-item style="height: fit-content;" (click)="actualizarCategoria('Frutas y Verduras')">
                    <mat-radio-group class="grid">
                      <mat-radio-button value="Frutas y Verduras" [checked]="categoria == 'Frutas y Verduras'">Frutas y Verduras</mat-radio-button>
                    </mat-radio-group>
                </button>
                <button mat-menu-item style="height: fit-content;" (click)="actualizarCategoria('Bebidas')">
                    <mat-radio-group class="grid" >
                      <mat-radio-button value="Bebidas" [checked]="categoria=='Bebidas'">Bebidas</mat-radio-button>
                    </mat-radio-group>
                </button>
                <button mat-menu-item style="height: fit-content;" (click)="actualizarCategoria('Carnes')">
                    <mat-radio-group class="grid" >
                      <mat-radio-button value="Carnes" [checked]="categoria=='Carnes'">Carnes</mat-radio-button>
                    </mat-radio-group>
                </button>
            </mat-menu>
        </div>
        <div class="col-2 align-self-center"
        [ngClass]="{'col-6': carta_smartphone}">
            Resultados encontrados: {{listaProductos.length}}
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row align-items-center justify-content-center  productos">
        <div class="col align-self-center">
            <div class="container">
                <div class="row">
                    <div [ngClass]="{'col-3': carta_web,
                    'col-6': carta_tablet,
                    'col-12': carta_smartphone}"
                     *ngFor="let p of listaProductos">
                        <div class="card">
                            <div 
                            [ngClass]="{'producto-disponible': p.estado == 'disponible',
                            'producto-agotado': p.estado == 'agotado',
                            'producto-carrito': p.estado == 'carrito'}">
                                {{p.nombre}}
                            </div>
                            <div class="img-container"> 
                                <img src="assets/tomatos.png" alt="image">
                            </div>
                            <mat-divider></mat-divider>
                            <div class="card-body">
                                <div class="row align-self-center justify-content-center">
                                    <div class="col">  
                                        <h5 class="card-title">₡ {{p.precio}}</h5>
                                    </div>
                                    <div class="col">
                                        <mat-icon (click)="openDialog(p.nombre, p.descripcion)">info</mat-icon>
                                    </div>
                                </div>
                              
                                <div class="contenedor-boton" *ngIf="p.estado == 'disponible'">
                                    <button type="submit" class="btn btn-primary">Agregar</button>
                                </div>
                                <div class="contenedor-boton" *ngIf="p.estado == 'carrito'">
                                    <button type="submit" class="btn btn-primary">Soltar</button>
                                </div>
                                <div class="contenedor-boton" *ngIf="p.estado == 'agotado'">
                                    <button [disabled]="true" type="submit" class="btn btn-primary">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <mat-paginator [length]="100"
    [pageSize]="10"
    (page)="onChangedPage($event)">
    </mat-paginator>
</div>




