<div class="container-fluid contenedor-productos">
    <div class="row align-self-center justify-content-start descripcion">
        <div class="col-2 align-self-center">
            <span>Categorías</span>
            <button mat-icon-button [matMenuTriggerFor]="categorias">
                <mat-icon>list</mat-icon>
            </button>
            <mat-menu #categorias="matMenu">
                <button mat-menu-item style="height: fit-content;" (click)="actualizarCategoria('Frutas y Verduras')">
                    <mat-radio-group class="grid">
                      <mat-radio-button value="Frutas y Verduras" [checked]="categoria == 'Frutas y Verduras'">Frutas y Verduras</mat-radio-button>
                    </mat-radio-group>
                </button>
                <button mat-menu-item style="height: fit-content;" (click)="actualizarCategoria('Bebidas')">
                    <mat-radio-group class="grid" >
                      <mat-radio-button value="Bebidas" [checked]="categoria=='Bebidas'">Bebidas</mat-radio-button>
                    </mat-radio-group>
                </button>
                <button mat-menu-item style="height: fit-content;" (click)="actualizarCategoria('Carnes')">
                    <mat-radio-group class="grid" >
                      <mat-radio-button value="Carnes" [checked]="categoria=='Carnes'">Carnes</mat-radio-button>
                    </mat-radio-group>
                </button>
            </mat-menu>
        </div>
        <div class="col-5">
            <span>Agregar nueva categoría</span>
            <button mat-icon-button>
                <mat-icon>add_box</mat-icon>
            </button>
        </div>
        <div class="col-5">
            <span>Agregar nuevo producto</span>
            <button mat-icon-button (click)="agregarProducto()">
                <mat-icon>add_box</mat-icon>
            </button>
        </div>
    </div>
    <mat-divider></mat-divider>
    <div class="row align-items-center justify-content-center  productos">
        <div class="col align-self-center">
            <div class="container">
                <div class="row">
                    <div class="col-3"  *ngFor = "let p of listaProductos">
                        <div class="card">
                            <div class="card-header">
                                {{p.nombre}}
                            </div>
                            <div class="img-container"> 
                                <img src="assets/tomatos.png" alt="image">
                            </div>
                            <mat-divider></mat-divider>
                            <div class="card-body">
                                <div class="row align-self-center justify-content-center">
                                    <div class="col">  
                                        <h5 class="card-title">₡ {{p.precio}}</h5>
                                    </div>
                                    <div class="col">
                                        <mat-icon (click)="openDialog(p.nombre, p.descripcion)">info</mat-icon>
                                    </div>
                                </div>
                              
                                <div class="contenedor-boton">
                                    <button type="submit" class="btn btn-primary">Eliminar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="footer">
    <mat-paginator [length]="13"
    [pageSize]="12"
    (page)="onChangedPage($event)">
    </mat-paginator>
</div>





