<div class="container carta"
[ngClass]="{'web-landscape': responsive_flags.web_landscape,
'tablet-portrait': responsive_flags.tablet_portrait,
'tablet-landscape': responsive_flags.tablet_landscape,
'smartphone-portrait': responsive_flags.smartphone_portrait,
'smartphone-landscape': responsive_flags.smartphone_landscape}">

    <div class="row justify-content-start align-items-start cabecera">
        <div class="col-4">
            <div class="example-button-container">
                <mat-icon aria-hidden="false" aria-label="Example home icon" (click)="regresar()">arrow_back</mat-icon>            </div>
            </div>
        <div class="col-4">
            <h2>Registro</h2>
        </div>
    </div>
    <div class="row formulario">
        <form #registroForm="ngForm" novalidate>
            <div class="row">
                <div class="col-4">
                    <label>Nombre</label>
                    <div class="form-group">
                        <input type="string" class="form-control" id="nombre-id" #nombre1="ngModel"  required name="nombre"  [(ngModel)]="nombre">
                    </div>
                </div>
                <div class="col">
                    <label>Primer apellido</label>
                    <div class="form-group">
                        <input type="string" class="form-control" id="apellido1" #apellido1="ngModel"  required name="apellido1"  [(ngModel)]="primer_apellido">
                    </div>
                </div>
                <div class="col">
                    <label>Segundo apellido</label>
                    <div class="form-group">
                        <input type="string" class="form-control" id="apellido2" #apellido2="ngModel"  required name="apellido2"  [(ngModel)]="segundo_apellido">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Dirección de correo electrónico</label>
                    <div class="form-group">
                        <input type="email" class="form-control" id="correo-id" #correo1="ngModel"  required name="correo"  [(ngModel)]="correo">
                    </div>              
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Número de teléfono</label>
                    <div class="form-group col-4">
                        <input type="number" class="form-control" id="telefono-id" #telefono="ngModel"  required name="telefono"  [(ngModel)]="numero_telefono">
                    </div>              
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Direccion de residencia exacta</label>
                    <div class="form-group">
                        <input type="string" class="form-control" id="residencia-id" #residencia="ngModel"  required name="residencia"  [(ngModel)]="direccion_residencia">
                    </div>              
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <label>Nombre de usuario</label>
                    <div class="form-group">
                        <input type="string" class="form-control" id="usuario-id" #usuario="ngModel"  required name="usuario"  [(ngModel)]="nombre_usuario">
                    </div>              
                </div>
                <div class="col">
                    <label>Contraseña</label>
                    <div class="form-group">
                        <input type="password" class="form-control" id="contrasena1" #contra1="ngModel"  required name="contra1"  [(ngModel)]="password">
                    </div>              
                </div>
                <div class="col">
                    <label>Confirmar contraseña</label>
                    <div class="form-group">
                        <input type="password" class="form-control" id="contrasena2" #contra2="ngModel"  required name="contra2"  [(ngModel)]="confirm_password">
                    </div>              
                </div>
            </div>
            <div class="contenedor-boton">
                <button [disabled]="registroForm.form.invalid" type="submit" class="btn btn-primary">Registrarse</button>
            </div>
        </form>
    </div>
</div>
