<div class="contenedor">
    <p>
        <mat-toolbar class="toolbar" color="primary">
            <button (click)="productos()" mat-icon-button class="example-icon">
                <mat-icon>home</mat-icon>
            </button>
            <span class="titulo-toolbar">Herbavi</span>
            <input type="string" placeholder="Nombre de producto" class="form-control">
            <button mat-icon-button class="favorite-icon">
                <mat-icon>search</mat-icon>
            </button>
            <span class="spacer"></span>
            <button (click)="carrito()" mat-icon-button class="favorite-icon">
                <mat-icon matBadge="15" matBadgeColor="warn">local_grocery_store</mat-icon>
            </button>
            <button mat-icon-button class="example-icon">
                <mat-icon>person</mat-icon>
            </button>
            <button (click)="regresar()" mat-icon-button class="example-icon">
                <mat-icon>cancel</mat-icon>
            </button>
        </mat-toolbar>
      </p>

      <router-outlet></router-outlet>
</div>
